@media screen and (max-width:768px){
    .menu__item {
        width: 20%;
    }
    .jogadasRealizadas {
        width: 20%;
    }
}
@media screen and (max-width:450px){
    .menu__item {
        width: 30%;
    }
    .jogadasRealizadas {
        width: 30%;
    }
}
